[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User={{ ha_user }}
Restart=on-failure
ExecStart={{ ha_conf_dir }}/{{ ha_venv }}/bin/hass --config "{{ ha_conf_dir }}/.homeassistant"

[Install]
WantedBy=multi-user.target
