   _  _                   _          _    _            _   
  | || |___ _ __  ___    /_\   _____(_)__| |_ __ _ _ _| |_ 
  | __ / _ \ '  \/ -_)  / _ \ (_-<_-< (_-<  _/ _` | ' \  _|
  |_||_\___/_|_|_\___| /_/ \_\/__/__/_/__/\__\__,_|_||_\__|  Awaken your home

  {{ ansible_distribution }} {{ ansible_distribution_version }} - Home Assistant {{ ha_version }}

  Last configuration changes: {{ ansible_date_time.date }}, {{ ansible_date_time.time }}

